{% extends "index.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
   <h3 class="text-center">Takip Edilen</h3>
    <div class="row">
       {% for kullanici in takipciler %}
          <div class="col-md-3"   >
           <div class="card mb-3 mt-3" >
               <img src="{{ kullanici.profil_resim.url }}" class="card-img-top" width="100%" height="250px">
               <div class="card-body">
                 <h5 class="card-title">{{ kullanici.name }}</h5>
                 <p class="card-text">{{ kullanici.bio }}</p>
                 <a href="{% url 'profil' kullanici.slug kullanici.id %}" class="btn btn-primary">Profil'e git</a>
               </div>
             </div>
          </div> 
       {% endfor %}
    </div> 
   </div>

{% endblock content %}